body {
    /*background: #130224;*/

    width: 100vh;
    height: 100vh;

    overflow: hidden;
}

.navbar {
    color: white;
    background: grey;

    width: 100%;
    height: 50px;

    padding-left: 10px;

    font-size: 20px;

    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    position: absolute;

    -webkit-app-regoin: drag;
}

.container {
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera-img {
    width: 120px;
    height: 120px;

    transition: transform 0.2s;

    cursor: pointer;
}

.camera-img:hover {
    transform: scale(1.1);
}